@tailwind base;
@tailwind components;
@tailwind utilities;

codapi-toolbar>button{
    background-color: #2385fb;
    border: 1px solid #2385fb;
    font-size: 16px;
    color: #fff;
    padding: 20px 90px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

codapi-toolbar>a{
    display: none;
}
canvas{
    background: linear-gradient(to right, #f25149, #16c99c);
}